// color definitions
$c-primary: #0068AB;
$c-secondary: #E60020;
$c-background: #FFFFFF;
$c-background-alternative: #FDFDFD;
$c-border: #D0E0ED;

// dimension definitions
$d-min-width-stage: 302px;
$d-min-height-stage: 366px;
$d-width-navigation_control: 32px; // @todo should be 45×45px in popup